# {{ ansible_managed }}

[Unit]
Description=Boulder the Let's Encrypt CA - Registration Authority
Documentation=https://github.com/letsencrypt/boulder
After=boulder-ca.service boulder-va.service boulder-publisher.service network.target

[Service]
User={{ ca_svc_user }}
Group={{ ca_svc_user }}
WorkingDirectory={{ install_root }}
ExecStart={{ install_root }}/boulder-ra --config config/ra.json
Restart=on-failure
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=yes
ProtectHome=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
