# {{ ansible_managed }}

[Unit]
Description=Boulder the Let's Encrypt CA - Storage Authority
Documentation=https://github.com/letsencrypt/boulder
After=mariadb.service network.target

[Service]
User={{ ca_svc_user }}
Group={{ ca_svc_user }}
WorkingDirectory={{ install_root }}
ExecStart={{ install_root }}/boulder-sa --config config/sa.json
Restart=on-failure
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=yes
ProtectHome=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
